---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Blog post here</h1>
    <h2>... and my new Astro site!</h2>

    <p>
      This page will host all the blog posts that I have published. Don't forget
      to visit from time to time.
    </p>

    <p>You'll find amazing knowledge around the corner.</p>
  </body>
</html>
